.search {
  position: absolute;
  width: 50%;
  top: 25%;
  left: 25%;
}

#carouselExampleIndicators {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 25%;
  text-align: center;
  height: 350px;
  margin: 20px 0;
}

.form-control {
  width: 100%;
}

#searchField {
  width: 100%;
}

button {
  float: right;
}

h1 {
  margin: 50px 0;
  text-align: center;
}

.carousel-control-prev-icon {
  background-color: grey;
}

.carousel-control-next-icon {
  background-color: grey;
}

p {
  margin: 50px auto;
  text-align: center;
  width: 75%;
}

ol.carousel-indicators li.active {
  background: rgb(191, 222, 255);
}

ol.carousel-indicators li {
  background: rgb(126, 126, 126);
}

ol.carousel-indicators {
  height: 25px;
}
