.search {
  position: fixed;
  width: 50%;
  top: 25%;
  left: 25%;
}

h1 {
  margin: 50px 0;
  text-align: center;
}

.carousel-slide {
  position: fixed;
  border: thick;
  border-color: grey;
  text-align: center;
  width: 50%;
  margin: 20px auto;
  height: 350px;
}

.carousel-control-prev-icon {
  background-color: grey;
}

.carousel-control-next-icon {
  background-color: grey;
}

p {
  margin: 50px auto;
  text-align: center;
  width: 75%;
}

ol.carousel-indicators li.active {
  background: rgb(191, 222, 255);
}

ol.carousel-indicators li {
  background: rgb(126, 126, 126);
}

ol.carousel-indicators {
  height: 25px;
}
